@page
@model MyFirstWebApplication.Pages.TesterModel
@{
    ViewData["Title"] = "Tester";
}

<h2>This is a tester page </h2>
<h2> I am trying to make things work. The time is: @DateTime.Now</h2>
<br />
<h2>The maximum date & time that can be displayed is: @DateTime.MaxValue</h2>
<br />
<h2>The minimum date & time that can be displayed is: @DateTime.MinValue</h2>
<hr />
